 <fieldset class="tab">
    <legend>Product Options</legend>
    <p>Optionally specify any products that are additional options.</p>
    <% f.fields_for :product_options do |po_form| %>
      <%= render :partial => 'product_option', :locals => { :f => po_form } %>
    <% end %>
    <%= new_child_fields_template(f, :product_options)%>
    <div class="field"><label></label><%= add_child_link "Add Product Option", :product_options %></div>
  </fieldset>

