<!--  START Element -->
<section class="admin new-element-select">
  <span class="controls">
    <%= form_tag(new_admin_page_element_path(@requested_page), :method => :get) do %>
      <%= select_tag :element_type, options_for_select(Element.get_elem_select), :prompt => "Add an Element" %>
      <%= hidden_field_tag :element_area, element_area %>
      <%= submit_tag "Add Element", :class => 'btn add small' %>
    <% end %>
  </span>
</section>
<!-- END Element -->

