<% if admin? %>
  <span class="controls">
    <%= link_to image_tag("delete.png", :alt => 'X'), admin_navigation_elems_path(elem) , :confirm => "Are you sure you wish to delete this element?", :method => :delete, :class => 'control' %>
    <%= render :partial => 'elements/element_controls', :locals => {:element => elem.element} %>
  </span>  
<% end %>
<%= content_tag_for(:nav, elem, :class => elem.display_type + elem.special_class) do %>
  <%= render :partial => "elem_partials/navigation_elem_partials/#{elem.display_type}", :locals => {:elem => elem} %>
<% end %>
