<% if admin? and !local_assigns[:element].blank? %>
  <span class="controls">
    <%= link_to image_tag("delete.png", :alt => 'X'), admin_side_nav_elems_path(:id => element.id) , :confirm => "Are you sure you wish to delete this element?", :method => :delete, :class => 'control' %>
    <%= render :partial => 'elements/element_controls', :locals => {:element => element} %>
  </span>
  <%# TODO make element %>
  <% input = {:level => 1..7, :flat => true}  %>
<% end %>

<nav class="side-nav-elem">
  <h3><%= @node.menu_name %></h3>
  <%= render_navigation(input) %>
</nav>

