/*

	~ TEMPLATE STYLES ~
	This contains all styling for templating.

*/

/* this is for sites that have a designed background to keep it from pushing up under the adminbar */
#body {
        background: #e6e6e6 url(page-bg.gif) top center repeat-y;
        border-top: 50px solid #e6e6e6;
}
        #bodyFade {
            padding-bottom: 51px;
            background: url(footer-fade-bottem.gif) bottom center no-repeat;
        }
                /* PAGE CONTAINER */
                #pageContainer {
                    width: 930px;
                    margin: 0 auto;
                    position: relative;
                    padding: 21px;
                }
/*#wrapper {*/
/*	width: 960px;*/
/*	margin: 0 auto;*/
/*}*/



#skipTo {
	display: none;
}





/* HEADER */
header {
    height: 70px;
}
	header #logo {
        width: 550px;
        margin: 0 0 0 24px;
        float: left;
        color: #333;
        font-size: 40px;
        line-height: 45px;
        letter-spacing: 2px;
    }
    header #logo-left { color: #FFCC00; }
    header #logo-right { color: #000; }
    header #logo-small-caps { font-size: 30px; }
	header #left {float: left;width: 200px;}
	header #right {float: right;width: 200px;text-align: right;}
	header a {
            color: #000;
	        -webkit-transition:all 0.2s ease-out;
	        -o-transition:all 0.2s ease-out;
	        -moz-transition:all 0.2s ease-out;
    }
	header a:hover {color: #b8b8b9; text-decoration: none;}


/* NAVIGATION */
nav#mainNav {
    background: #2A2A2A url(nav-bg.gif) 0 0 repeat-x;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 26px;
    position: relative;
    z-index: 50;
}
#footerNav ul,
#mainNav ul {
    padding: 7px 0;
    margin-left: 10px;
}
	#mainNav li {
        color: #fff;
        display: inline;
        padding: 5px 0;
        font-size: 14px;
        font-family: helvetica;
        position: relative;
	}
		#mainNav li a {
            color: #fff;
            text-decoration: none;
            padding: 15px;
            font-weight: bold;
		}
            #mainNav li:hover a,
            #mainNav li a:hover,
            #mainNav li.selectedPage a,
            #mainNav li.selectedPageRoot a {
                color: #add146;
            }




/* CONTENT AREA */
#content {
    clear: both;
    position: relative;
    padding: 25px;
    min-height: 420px;
    height: auto !important;
    height: 420px;
    background: #fff;
    border: 1px solid #eee;
}

/* FEATURED AREA */

#featuredBanner {
    clear: both;
    height: auto !important;
    margin-bottom: 26px;
    min-height: 276px;
    position: relative;
}

#featuredArea {
    background: #F3F3F3 url(featured-area-bg.gif) 0 0 repeat-x;
    border: 1px solid #cdcdcd;
    min-height: 70px;
    height: auto !important;
    height: 70px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin-bottom: 26px;
    font-size: 14px;
    clear: both;
}
    #featuredArea section h1.title {
        border-bottom: none;
        line-height: 1.7em;
    }
	#featuredArea h1.browse-inventory { padding-left: 50px; background: url(magnifying-glass.png) no-repeat;}
    #featuredArea #featuredLeft {
        float: left;
        width: 375px;
        padding: 20px 45px 20px 20px;
        border-right: 1px solid #e6e6e6;
        min-height: 70px;
        height: auto !important;
        height: 70px;
    }
    #featuredArea #featuredRight {
        float: left;
        width: 375px;
        padding: 20px 0 20px 20px;
    }
        #featuredArea h1.title {
            text-transform: uppercase;
            font-size: 18px;
            color: #43b2e6;
            font-weight: normal;
        }
        #featuredArea .alignLeft {
            margin-top: 1em;
        }
    #featuredArea a{
        color: #43b2e6;
    }


    /* Featured Column */
    /* column layouts */
    /* two column layout - homepage */
    #homePage #subColumn {
        float: left;
        width: 270px;
        margin-right: 25px;
        padding-top: 10px;
        min-height: 100px;
        height: auto !important;
        height: 100px;
    }
    #homePage #mainColumn {
        float: left;
        width: 535px;
        min-height: 350px;
        height: auto !important;
        height: 350px;
        background: url(main-content-home-bg.gif) 0 0 no-repeat;
        padding: 10px 0 0 35px;
    }
    #homePage #mainColumn a {
        color: #43b2e6;
    }


/* SECONDARY MISC */
/* two column layout - sec page */
    #secPage #subColumn {
        float: left;
        width: 265px;
        margin-right: 30px;
        padding-top: 10px;
        min-height: 100px;
        height: auto !important;
        height: 100px;
    }
    #secPage #mainColumn {
        float: left;
        width: 535px;
        min-height: 650px;
        height: auto !important;
        height: 650px;
        background: url(main-content-sec-bg.gif) 0 0 no-repeat;
        padding: 10px 0 0 35px;
    }
        #secPage .oneColumn #mainColumn {
            float: left;
            width: 755px;
            min-height: 650px;
            height: auto !important;
            height: 650px;
            background: none;
            padding: 10px 0 0 35px;
        }
    #secPage #mainColumn a {
        color: #43b2e6;
    }


    /* two column layout - sec page */
    #secPageLeft #mainColumn {
        float: left;
        width: 535px;
        min-height: 100px;
        height: auto !important;
        height: 100px;
        padding: 10px 0 0 0;
        margin-right: 30px;
    }
    #secPageLeft #mainColumn a {
        color: #207aa5;
    }
    #secPageLeft #subColumn {
        float: left;
        width: 265px;
        padding-left: 40px;
        padding-top: 10px;
        min-height: 650px;
        height: auto !important;
        height: 650px;
        background: url(main-content-sec-bg.gif) 0 0 no-repeat;
    }

    /******** Side Navigation ********/
    nav.side-nav-elem ul {margin: 0;}
    nav.side-nav-elem ul li { padding: 2px 0; background: none;}
    nav.side-nav-elem ul li.Item { display: none;}
    nav.side-nav-elem ul li a {  color: #827D3B; font-size: 1.0em; display: block; }
    nav.side-nav-elem ul li a:before {content: "- ";}
    nav.side-nav-elem ul li a.selected { font-weight: bold;  color: #000; }
    nav.side-nav-elem ul ul li {}
    nav.side-nav-elem ul ul li a {padding-left: .7em; background: url(li-bullet-black.png) .2em .6em no-repeat;  font-size: .8em;}
    nav.side-nav-elem ul ul li a:before {content: "";}
    nav.side-nav-elem ul ul ul li a {font-size: .8em; color: #827D3B; background: none;}
    nav.side-nav-elem ul ul ul li a:before {content: "- ";}

/************************/




/* SITE FOOTER/NAVIGATION */
footer {
    background: url(footer-bg.gif) top center no-repeat;
    clear: both;
}

    #footerLeft {
        width: 500px;
        border-right: 1px solid #ededed;
        min-height: 80px;
        height: auto !important;
        height: 80px;
        float: left;
        margin: 20px 0 0 0;
    }

    #footerNav {
        margin: 5px 0 17px 0;
    }
        #footerNav li {
            display: inline;
            color: #c5c5c5;
            font-size: 11px;
            border-right: 1px solid #ededed;
            padding: 0 7px;
        }
                #footerNav li:last-child {
                    border-right: none;
                }
            #footerNav li a {
                color: #999;
                font-weight: bold;
            }

    #socialMedia img {
        margin: 0 7px;
    }




    #copyright {
        float: right;
        width: 370px;
        font-size: 11px;
        color: #c5c5c5;
        margin: 25px 30px 15px 0;
    }
        #copyright a {
            color: #c5c5c5;
        }

            /* powered by token */
            #poweredBy {
                margin-top: 3px;
            }
                #poweredBy a {
                    display: block;
                    width: 115px;
                    height: 19px;
                    text-indent: -9999px;
                }



    #privacy {
        float: right;
        clear: right;
        width: 370px;
        margin: 0 37px 0 0;
    }
        #privacy li {
            display: inline;
            color: #c5c5c5;
            font-size: 11px;
            border-right: 1px solid #ededed;
            padding: 0 7px;
        }
                #privacy li:last-child {
                    border-right: none;
                }
            #privacy li a {
                color: #999;
            }

